@mixin btn {
  border: 4px solid #000;
  box-shadow: 2px 2px 0 #000;
  padding: 0.2em 0.5em;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #000;
    color: #fff;
    box-shadow: none;
  }

  &:active {
    background-color: #fff;
    color: #000;
    box-shadow: none;
  }
}
