/* stylelint-disable at-rule-no-unknown */
@use './global.scss';
@use './_mixin.scss' as mixins;

/* main section styles
------------------------------------ */
.main__page-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-block-end: 2rem;
}

.main__page-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 2rem;

  @media only screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;

    & > * {
      flex: 1;
    }
  }
}

.scoreboard {
  max-width: 350px;

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-block-end: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__refresh-btn {
    @include mixins.btn;
  }
}

/* scoreboard table section styles end */
.scoreboard__score {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 4px solid #000;

  & :nth-child(even) {
    background-color: #ddd;
  }

  &-item {
    padding: 0.5rem;

    &.empty {
      text-align: center;
      padding: 1rem;
      color: #f00;
    }
  }
}

.add__score {
  display: flex;
  flex-direction: column;
  max-width: 350px;

  @media only screen and (min-width: 600px) {
    max-width: 200px;
  }

  &-header {
    height: 33.4px;
    display: flex;
    align-items: center;
    margin-block-end: 1rem;
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-label {
    & input {
      box-sizing: border-box;
      width: 100%;
      padding: 0.2rem;
      font-size: 1rem;
      border: 4px solid #000;

      &::-webkit-input-placeholder {
        /* Edge */
        opacity: 1;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        opacity: 1;
      }

      &::placeholder {
        opacity: 1;
      }
    }
  }

  &-btn {
    @include mixins.btn;

    align-self: flex-end;
    width: fit-content;
  }
}
